@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
:root {
    --background: 0 0% 98%;
    --foreground: 213 100% 9%;
    --card: 0 0% 100%;
    --card-foreground: 213 100% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 100% 9%;
    --primary: 213 100% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 10% 92%;
    --secondary-foreground: 213 100% 9%;
    --muted: 30 10% 92%;
    --muted-foreground: 213 100% 9%;
    --accent: 30 10% 92%;
    --accent-foreground: 213 100% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 82%;
    --input: 30 10% 82%;
    --ring: 213 100% 9%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 38 60% 70%;
    --card: 240 10% 3.9%;
    --card-foreground: 38 60% 70%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 38 60% 70%;
    --primary: 38 60% 70%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 38 60% 70%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 38 40% 50%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 38 60% 70%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 38 60% 70%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 38 60% 70%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: transparent;
    color: hsl(var(--foreground));
  }
}

.logo-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}